{
	margin:0;
	padding:0;
	font-family:"Ubuntu", sant serif;
	text decoration:none
	display:flex
	height:100vh
	box-sizing: border-box;	
}
	body{
		height:510vh;
		background: url(https://cdn.pixabay.com/photo/2017/02/16/19/47/bokeh-2072271__340.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		background-position: bottom;
		
		}
	
	.avatar{
	padding:8px;
	display: inline-block;
	background: linear-gradient(100deg, blue,red);
	margin:auto;
	background-size:200% 200%;
	animation: animated-gradient 2s linear infinite;
	border-radius:50%;
	 
	}
		@keyframes animated-gradient{
			25%{
				
			background-position:left bottom;
			}
			50%{
				background-position:right bottom;
			}
			75%{
				background-position:right top;
			}
			100%{
				background-position:left top;
			}
		}
		
	.avatar{
		display:block;
		padding:50px 40px;
		width:800px;
		height:700px;
		border-radius:50px;
		overflow: hidden;
		
	}
		.content{
		padding:30px;
		
		}
		.content h1 {
			color:red;
			font-size:30px;
			font-weight:600;
			margin:10px 0;
		}
		.content h2 {
			color: wheat;
			font-size:30px;
			font-weight:600;
			margin:10px 0;
		}
		
		
		.content h3{
			margin-top:20px;
		}
		.social {
		color:white;
		width:200px;
		font-size:40px;
		transition: .3s linear;
		}
		.social: hover{
			color: red;
		}	
		.contact-btn{
			
			display: inline-block;
			padding:12px 50px;
			color: red;
			border:2px solid red;
			border-radius:6px;
			margin-top:16px;
			transition: .3s linear;
		}
		.contact-btn:hover{
			background:red;
			color:white;
		}
		.IT{
			padding:30px;
		}
		
		.IT h2 {
			
			color: wheat;
			font-size:30px;
			font-weight:600;
			margin:10px 0;
		}
		.idealjob{
			padding:30px;
		}
		.idealjob h2{
			color: wheat;
			font-size:30px;
			font-weight:600;
			margin:10px 0;
		}
		.idealjob li{
			font-size:18px;
			font-weight:500;
			margin:35px 0;
			color: blue;
			font-style: italic
			
		}
		.profile{
			padding:25px;
			
		}
		.profile h2{
			color: wheat;
			font-size:30px;
			font-weight:600;
			margin:10px 0;
		}
		.profile li{
			font-size:18px;
			font-weight:500;
			margin:35px 0;
			color: blue;
			font-style: italic
		
		}
		.projectidea{
			padding:30px;
		}
		.projectidea h2{
			color: wheat;
			font-size:30px;
			font-weight:600;
			margin:10px 0;
		}
		
				
			